
.scroll-div {
	width:200px; 
	height: 60px; 
	overflow-x: scroll;
}

.scroll-text {
	float:left;color: #666666; 
	font-family: Candara,Trebuchet MS,sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	line-height: 18px;
}